/* Smooth scroll behavior */
:root { 
  scroll-behavior: smooth;
}
a {
  color: #ec2727;
  text-decoration: none;
}

a:hover {
  color: #ec2727;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

section {
  overflow: hidden;
  padding: 80px 0;
  scroll-margin-top: 90px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
